<%= form_for repository, url: namespace_repository_path(namespace.name, repository.name) do |f| %>
  <div class="form-group">
    <%= f.text_area :description, class: 'form-control', rows: 8, placeholder: t('.enter_description') %>
  </div>
  <div class="form-group">
    <%= f.submit t('.save'), class: 'btn btn-primary' %>
  </div>
<% end %>
