<a href="<%= "#{repository.namespace.name}/#{repository.name}" %>">
  <div class="repo-box">
    <span class="repo-box-icon bg-aqua">
      <i class="fa fa-cube"></i>
    </span>
    <div class="repo-box-content">
      <div class="repo-name">
        <%= "#{repository.namespace.name}/#{repository.name}" %>
      </div>
      <div class="repo-pull-count">
        <div class="num"><%= repository.pull_count %></div>
        <div class="text">PULLS</div>
      </div>
      <div class="repo-publicity">
        <%= repository.is_public ? t('.public') : t('.private') %>
      </div>
    </div>
  </div>
</a>
