<div class="box box-widget repository-cell">
  <div class="box-body">
    <a href="<%= "#{repository.namespace.name}/#{repository.name}" %>">
      <div class="row">
        <div class="col-md-11">
          <div class="repository-name">
            <%= "#{repository.namespace.name}/#{repository.name}" %>
          </div>
          <div class="repository-publicity">
            <%= repository.is_public ? 'public' : 'private' %>
          </div>
        </div>
        <div class="col-md-1">
          <%= repository.pull_count %>
        </div>
    </a>
      </div>
  </div>
</div>
