<% content_for :content_title do %>
  <%= t '.title', query: params[:q] %>
<% end %>


<div class="search-result">
  <div class="repository">
    <%= render @repositories %>
  </div>
  <div class="namespace">
    <%= render( @namespaces ) if @namespaces %>
  </div>
</div>
