<% content_for :content_title do %>
  <%= t '.title', query: params[:q] %>
<% end %>


<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12">
    <div class="search-result">
      <div class="repository">
        <% if @repositories && !@repositories.empty? %>
        <fieldset>
          <legend>
            镜像
          </legend>
          <%= render @repositories %>
        </fieldset>
        <% end %>
      </div>
      <div class="namespace">
        <% if @namespaces && !@namespaces.empty? %>
        <fieldset>
          <legend>
            组织
          </legend>
          <%= render( @namespaces ) %>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>


