<% content_for :subnav do %>
  <%= render 'subnav', namespace: @namespace %>
<% end %>

<%= render @repositories %>
<% if @repositories.count == 0 %>
  <p>
    <%= t '.no_repository' %>
  </p>
<% end %>
