<% content_for :subnav do %>
  <%= render 'subnav', namespace: @namespace %>
<% end %>

<%= render @repositories %>
<% if @repositories.count == 0 %>
  <p>
    This organization has no repository.
  </p>
<% end %>
