// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.repository-cell {
  border: 1px solid #fff;


  .repository-name {
    font-weight: 500;
    color: #3c8dbc;
    font-size: 20px;
  }

  .repository-publicity {
    font-weight: 500;
    font-size: 20px;
    color: #357ca5;
  }
}

.repo-box {
  display: block;
  min-height: 92px;
  background: #fff;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }

  .repo-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2)
  }

  .repo-box-content {
    margin-left: 90px;
  }

  .repo-name {
    float: left;
    line-height: 90px;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 20px;
    color: #3c8dbc;
  }

  .repo-pull-count, .repo-publicity {
    float: right;
    width: 90px;
    height: 90px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .repo-publicity {
    line-height: 90px;
    vertical-align: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
  }

  .repo-pull-count {
    text-align: center;
    font-size: 16px;
    padding: 20px;

    .num {
      margin-bottom: 6px;
    }
  }
}