// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-box {
  background: #fff;
  padding: 20px;
  color: #666;
  height: 230px;

  .login-box-msg {
    font-size: 20px;
  }
}